.flexlayout__layout {
  --color-drag: rgb(95, 134, 196);
  --color-drag-background: rgba(95, 134, 196, 0.1);
  --color-tabset-background: var(--primary-foreground);
  --color-tabset-tabbar-background: var(--muted);
  --color-tabset-tabbar-background-fixed: var(--muted);
  --color-tabset-border: var(--border);
  --color-tab-divider: var(--border);
  --color-tab-hover-background: var(--border);
  --color-tab-hover-background-fixed: var(--border);
  --color-tab-selected: var(--foreground);
  --color-tab-selected-background: var(--background);
  --color-tab-unselected: var(--muted-foreground);
  --color-tab-unselected-background: var(--muted);
  --color-tab-close-background: var(--border);
  --color-tab-close-icon: var(--gray-60);
  --color-tab-close-icon-hover: var(--gray-60);
  --color-splitter: var(--border);
  --color-splitter-hover: var(--color-blue-500);
  --color-splitter-drag: var(--color-blue-500);
  --color-drag-rect-border: var(--border);
  --color-drag-rect-background: var(--primary-foreground);
  --color-drag-rect: var(--foreground);
  --color-edge-marker: var(--color-blue-500);
}

.dark .flexlayout__layout {
  --color-tab-selected-background: var(--background);
}

.flexlayout__layout {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.flexlayout__splitter {
  background-color: transparent;
}
.flexlayout__splitter:after {
  background-color: var(--color-splitter);
  border-radius: 2px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
}
.flexlayout__splitter.flexlayout__splitter_horz:after {
  width: 20px;
}
.flexlayout__splitter.flexlayout__splitter_vert:after {
  height: 20px;
}
@media (hover: hover) {
  .flexlayout__splitter:hover:after {
    background-color: var(--color-splitter-hover);
  }
  .flexlayout__splitter.flexlayout__splitter_horz:hover:after {
    width: 100%;
  }
  .flexlayout__splitter.flexlayout__splitter_vert:hover:after {
    height: 100%;
  }
}
.flexlayout__splitter_border {
  z-index: 10;
}
.flexlayout__splitter_drag {
  z-index: 1000;
}
.flexlayout__splitter_drag:after {
  background-color: var(--color-splitter-drag);
  border-radius: 2px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
}
.flexlayout__splitter_drag_horz:after {
  width: 100%;
}
.flexlayout__splitter_drag_vert:after {
  height: 100%;
}
.flexlayout__splitter_extra {
  background-color: transparent;
}
.flexlayout__outline_rect {
  position: absolute;
}
.flexlayout__outline_rect,
.flexlayout__outline_rect_edge {
  background: var(--color-drag-background);
  border: 1px solid var(--color-drag);
  border-radius: 8px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 1000;
}
.flexlayout__edge_rect {
  background-color: var(--color-edge-marker);
  pointer-events: none;
  position: absolute;
  z-index: 1000;
}
.flexlayout__drag_rect {
  word-wrap: break-word;
  background-color: var(--color-drag-rect-background);
  border: 1px solid var(--color-drag-rect-border);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--color-drag-rect);
  cursor: move;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  line-height: 16px;
  opacity: 1;
  overflow: hidden;
  padding: 4px 8px;
  position: absolute;
  text-align: center;
  z-index: 1000;
}
.flexlayout__drag_rect .normal {
  display: none;
}
.flexlayout__tabset {
  background-color: var(--color-tabset-background);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.flexlayout__tabset-selected:after {
  border: 1px solid var(--color-tabset-border);
  border-radius: 8px;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.flexlayout__tabset-overflowed .flexlayout__tabset_tabbar_inner {
  border-radius: 8px;
  position: relative;
}
.flexlayout__tabset-overflowed .flexlayout__tabset_tabbar_inner:after {
  background: linear-gradient(
    270deg,
    var(--color-tabset-tabbar-background-fixed) 33.3%,
    #0000 100%
  );
  content: "";
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}
.flexlayout__tabset-left-tabs-hidden .flexlayout__tabset_tabbar_inner {
  position: relative;
}
.flexlayout__tabset-left-tabs-hidden .flexlayout__tabset_tabbar_inner:before {
  background: linear-gradient(
    90deg,
    var(--color-tabset-tabbar-background-fixed) 33.3%,
    #0000 100%
  );
  border-radius: 8px 0 0 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 32px;
  z-index: 1;
}
.flexlayout__tabset_tab_divider {
  width: 1px;
}
.flexlayout__tabset_content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.flexlayout__tabset_tabbar_outer {
  background-color: var(--color-tabset-tabbar-background);
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
}
.flexlayout__tabset_tabbar_outer_rotate {
  background-color: var(--color-tabset-tabbar-background);
  border-radius: 8px;
  margin-top: -36px;
  transform: rotate(90deg);
  transform-origin: 0 36px;
  z-index: 2;
}
.flexlayout__tabset_tabbar_inner {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
.flexlayout__tabset_tabbar_inner_tab_container {
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  padding: 4px;
  position: absolute;
  top: 0;
  width: 10000px;
}
.flexlayout__tab {
  border-radius: 0 0 8px 8px;
  border-top: none;
  box-sizing: border-box;
  height: var(--height);
  overflow: auto;
  position: absolute;
  width: var(--width);
}
.flexlayout__tab > * {
  min-width: 300px;
}
.flexlayout__tab_button {
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  padding: 4px 8px;
  position: relative;
}
.flexlayout__tab_button:before {
  background: var(--color-tab-divider);
  content: "";
  display: block;
  height: 12px;
  left: -1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}
.flexlayout__tab_button:first-child:before,
.flexlayout__tab_button:hover + .flexlayout__tabset_tab_divider + .flexlayout__tab_button:before,
.flexlayout__tab_button:hover:before {
  display: none;
}
.flexlayout__tab_button--selected {
  background-color: var(--color-tab-selected-background);
  color: var(--color-tab-selected);
  font-weight: 500;
}
.flexlayout__tab_button--selected .normal {
  display: none;
}
@media (hover: hover) {
  .flexlayout__tab_button:hover {
    background-color: var(--color-tab-hover-background);
  }
  .flexlayout__tab_button:hover .flexlayout__tab_button_truncate {
    background: linear-gradient(
      270deg,
      var(--color-tabset-tabbar-background-fixed) 6.25%,
      #0000 100%
    );
  }
}
.flexlayout__tab_button--unselected {
  background-color: var(--color-tab-unselected-background);
  color: var(--color-tab-unselected);
}
.flexlayout__tab_button--unselected .flexlayout__tab_button_content svg {
  opacity: 0.4;
}
.flexlayout__tab_button--unselected .medium {
  opacity: 0;
}
.flexlayout__tab_button--closable {
  padding-right: 4px;
}
.flexlayout__tab_button--closable .flexlayout__tab_button_content {
  margin-right: 4px;
}
.flexlayout__tab_button_content,
.flexlayout__tab_button_leading {
  display: flex;
  margin-right: 8px;
}
.flexlayout__tab_button_trailing {
  border-radius: 3px;
  color: var(--color-tab-close-icon);
  display: flex;
  margin-right: 2px;
  visibility: hidden;
}
.flexlayout__tab_button_trailing:hover {
  background-color: var(--color-tab-close-background);
  color: var(--color-tab-close-icon-hover);
}
.flexlayout__tab_button--selected .flexlayout__tab_button_trailing {
  visibility: visible;
}
@media (hover: hover) {
  .flexlayout__tab_button:hover .flexlayout__tab_button_trailing {
    visibility: visible;
  }
}
.flexlayout__tab_button_overflow,
.flexlayout__tab_toolbar_button-max,
.flexlayout__tab_toolbar_button-min {
  display: none;
}
.flexlayout__tab_button_truncate {
  background: linear-gradient(
    270deg,
    var(--color-tabset-tabbar-background-fixed) 6.25%,
    #0000 100%
  );
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
}
.flexlayout__tab_toolbar {
  align-items: center;
  display: flex;
  gap: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.flexlayout__tab_toolbar_button-close {
  display: none;
}
.flexlayout__tabset_tabbar_hover_show_toolbar .flexlayout__tab_toolbar {
  display: flex;
}
.flexlayout__tabset.flexlayout__tab_node_hover
  .flexlayout__tabset_tabbar_hover_show_toolbar
  .flexlayout__tab_toolbar,
.flexlayout__tabset_tabbar_hover_show_toolbar:hover .flexlayout__tab_toolbar {
  display: flex;
}
.flexlayout__error_boundary_container {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.flexlayout__error_boundary_content {
  align-items: center;
  display: flex;
}
.flexlayout__tabset_sizer {
  height: 36px;
}
