[data-rehype-pretty-code-figure] pre {
  padding-left: 0;
  padding-right: 0;
}

[data-rehype-pretty-code-figure] code {
  border: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.75;
}

@media (min-width: 768px) {
  [data-rehype-pretty-code-figure] code {
    font-size: 1rem;
  }
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  margin-right: 1rem;
  display: inline-block;
  width: 1rem;
  text-align: right;
  color: rgb(107 114 128);
}

[data-rehype-pretty-code-figure] [data-line] {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(219, 234, 254, 0.5);
  border-left-color: rgb(96 165 250);
}

.dark [data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  border-left-color: rgb(96 165 250);
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  border-radius: 0.25rem;
  background: rgba(161, 161, 170, 0.5);
  box-shadow: 0 0 0 4px rgb(161 161 170 / 0.5);
}

.dark [data-rehype-pretty-code-figure] [data-highlighted-chars] {
  border-radius: 0.25rem;
  background: rgba(113, 113, 122, 0.5);
  box-shadow: 0 0 0 4px rgb(113 113 122 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 0.25rem;
  box-shadow: none;
}

.subheading-anchor {
  text-decoration: none;
}

.subheading-anchor:hover {
  text-decoration: underline;
}

.markdown-body mark[data-highlight-excerpt="true"] {
  background-color: rgba(56, 189, 248, 0.25);
  color: rgb(240, 249, 255);
}
